@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,300&display=swap');
@import url('../node_modules/bootstrap/scss/bootstrap');

//Customizando Componentes Bootstrap
.navbar-toggler {
  --bs-border-width: none;
  --bs-navbar-color: white;
}

.navbar-toggler:focus {
  box-shadow: none;
  background-color: dimgray;
}

.bg-light {
  background-color: #E9ECEF !important;
}

//End Customizando Componentes Bootstrap


* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: black;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
}

#logo {
  font-family: 'Great Vibes', cursive;
}

header {
  background: url('../images/Mainbackground.png') no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.maindev {
  color: white;
  padding: 250px 0 400px;
}

.nav-link {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #495057;
  height: 60px;
  justify-content: center;
  margin: 50px 0 0 0;
}

.footer p {
  color: white;
  font-size: 15px;
  font-weight: 400;
}

@media(max-width:770px) {
  #article-row {
    flex-direction: column !important;
  }

}