.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #495057;
  height: 60px;
  justify-content: center;
}

.footer p {
  color: white;
  font-size: 15px;
  font-weight: 400;
}