header {
  padding: 30px;
}

header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 60px;
  flex-direction: row;
}

header section h1 {
  font-family: 'Great Vibes', cursive;
  color: white;
}

header section nav ul {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

header section nav ul li {
  margin: 0 40px;
}

header section nav ul li a {
  color: white;
}

header a {
  display: block;
  position: relative;
  padding: 0.2em 0;
}

header a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

header a:hover::after,
header a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}